body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;

}
.name{
    color: aqua;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half img{
    width: 110%;
}
.top{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(25, 68, 211), rgb(0, 238, 255));
    border-radius: 5px;
    padding: 10px 20px;
    color: white;
    font-weight: 700;
}
.mid{
height: 500px;
}
p{
    color: dimgray;
}
.mid{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position:right ;
}
.sor{
   
    margin: 2%;
}
.here{
    box-shadow: 20px 20px 40px gray;
    border-radius: 10px;
    height: 80%;
}
.last{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position:left ;
}
#one{
    border-left: 7px solid;
    border-image: linear-gradient(black, gray);
    border-image-slice: 1;
}
#two{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(129, 4, 4), rgb(236, 49, 49));
    border-image-slice: 1;
}
footer p{
    text-align: center;
}